.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  border-bottom: 1px solid var(--dark-100);

  .btn {
    color: #fff;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 20px;
    height: 20px;

    &:hover {
      background: transparent;
    }
  }

  button {
    padding: 0;
  }
}

.back {
  width: 14px;
  height: 36px;
  background: url('../../../../../../public/icons/arrow-ios-back.svg') no-repeat center;
}

.icon {
  color: #fff;
  width: 20px;
  height: 20px;
}
