.wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 35px;
}

.title {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.description {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-m);
  margin-top: 19px;
}

.button {
  margin-top: 54px;
  width: 182px;
  justify-content: center;
  font-weight: var(--font-weight-semi-bold);
}

.img {
  margin-top: 72px;
}
