.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  height: 100vh;

  .content {
    display: flex;

    .sidebar-height {
      border: white 1px solid;
      position: fixed;
      top: 61px;
      height: calc(100vh - 61px);
    }

    .main-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 85px 0 0 220px;
      max-width: 1060px;
      width: 100%;
    }
  }
}
