.wrapper {
  display: flex;
  width: 972px;
  gap: 2rem;
  height: 564px;
  padding: 0;
  flex-basis: calc(50% - 1rem);
}

.image {
  flex: 1;
  min-width: 0;
}

.filters {
  flex: 1;
  min-width: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.back {
  width: 36px;
  height: 36px;
  background: url('../../../../public/icons/arrow-ios-back.svg') no-repeat center;
}
