@import './../../../shared/styles/mixins';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 958px;
  margin: 0 auto;

  .notice {
    @include font($size: var(--font-size-s));

    text-align: center;
  }
}
