.wrapper {
  display: flex;
  flex-flow: row wrap;
  column-gap: 38px;
  justify-content: center;
  width: 100%;
  padding: 35px 25px;

  .container-block {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    row-gap: 20px;

    .header-block {
      display: flex;
      justify-content: space-between;
    }

    .stats-block {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 100px;
      text-transform: capitalize;
    }
  }

  .name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}
