.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 492px;
}

.image {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  display: none;
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.file {
  width: 40px;
  height: 40px;
  background: var(--dark-100) url('../../../../../../public/icons/PicIcon.svg') no-repeat center / 30px 30px;
  cursor: pointer;
}

.resize {
  width: 40px;
  height: 40px;
  background: var(--dark-100) url('../../../../../../public/icons/resizeIcon.svg') no-repeat center / 30px 30px;
  cursor: pointer;
}

.zoom {
  width: 40px;
  height: 40px;
  background: var(--dark-100) url('../../../../../../public/icons/zoomLens.svg') no-repeat center / 30px 30px;
  cursor: pointer;
  margin-right: auto;
}
