.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  background-color: var(--dark-500);
  border: 1px solid var(--dark-300);
  padding: 0.5rem;
}

.activeSubscription {
  display: flex;
  gap: 2rem;
  font-size: 14px;
  padding: 1rem;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  span {
    color: var(--light-900);
  }
}
