.wrapper {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interactionPanel {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #4c4c4c;
  margin-top: auto;
}
