.feedPostItem {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background-color: var(--dark-500);
  overflow: hidden;
  width: 100%;
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.userName {
  font-weight: 600;
  font-size: 14px;
  color: var(--light-100);
}

.postImage {
  width: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.postActions {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

.leftActions {
  display: flex;
  gap: 16px;
}

.actionButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.likedIcon {
  fill: var(--danger-500);
  stroke: var(--danger-500);
  width: 24px;
  height: 24px;
}

.likeIcon,
.commentIcon,
.bookmarkIcon {
  fill: none;
  stroke: var(--light-100);
  width: 24px;
  height: 24px;
}

.likesCount {
  padding: 0 16px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--light-100);
}

.postContent {
  padding: 0 16px;
  margin-bottom: 8px;
  display: flex;
  gap: 6px;
}

.postUserName {
  font-weight: 600;
  font-size: 14px;
  color: var(--light-100);
  text-decoration: none;
}

.postDescription {
  font-size: 14px;
  color: var(--light-100);
  word-wrap: break-word;
}

.postDate {
  padding: 0 16px;
  margin-bottom: 12px;
  font-size: 12px;
  color: var(--light-900);
}
