.card {
  padding: 24px;
  width: 380px;
  height: 460px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; ;
  font-family: var(--font-family-primary), sans-serif;
}

.header {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xl);
  margin-bottom: 35px;
}

.input {
  label {
    color: var(--light-900);
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-s);
  }
}

.description {
  color: var(--light-900);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-s);
  margin-bottom: 20px;
}

.button {
  width: 100%;
  justify-content: center;
  margin-bottom: 25px;
}