.modal {
  max-width: 438px;
  width: 100%;
  max-height: 240px;
  height: 100%;

  .text {
    padding-top: 30px;
  }

  .buttonsBlock {
    display: flex;
    justify-content: flex-end;
    gap: 24px;
    padding: 30px 0 16px;

    .modalButton {
      width: 96px;
    }
  }
}
