.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  min-width: 400px;
  min-height: 500px;
  max-width: 492px;
  max-height: 564px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveButton {
  margin: 36px 0 12px auto;
}

.withoutAvatar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.errorText {
  width: 100%;
  height: auto;
  padding: 6px 44px;
  text-align: center;
  background: var(--danger-900);
  border: 1px solid var(--danger-500);
  border-radius: 2px;
}

.emptyPic {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-500);
  height: 228px;
  width: 222px;
}
