.container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.title {
  display: none;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
