.wrapper {
  display: flex;
  width: 972px;
  gap: 2rem;
  height: 564px;
  padding: 0;
  flex-basis: calc(50% - 1rem);
}

.image {
  flex: 1;
  min-width: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.filters {
  flex: 1;
  min-width: 0;
}
