@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
select,
textarea,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  color: inherit;
}

body {
  font-family: Inter, sans-serif;
  line-height: 1.5rem;
  color: #fff;
  background-color: #0d0d0d;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 0.1875rem;

  &:hover {
    background: #8d9094;
  }
}

input:-webkit-autofill {
  caret-color: #8d9094;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid #333 !important;
  box-shadow: 0 0 0 1px #333 inset !important;
  transition: background-color 50000s ease-in-out 0s;
  -webkit-text-fill-color: #8d9094 !important;
}

input:-webkit-autofill:hover {
  box-shadow: 0 0 0 1px #4c4c4c inset !important;
  transition: background-color 50000s ease-in-out 0s;
}

button {
  all: unset;

  &:disabled {
    cursor: default;
  }
}
