.commentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
}

.comment {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.interaction {
  display: flex;
  gap: 12px;
}

.interaction span {
  color: #8d9094 !important;
}
