
.container {

}

.section {
  margin-bottom: 10px;
}

.userStats {

}

.postList {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.postItem {
  width: 23%;
}

.imageWrapper {

}

.image {
  object-fit: cover;
  width: 240px;
  height: 240px;
}
