.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: absolute;
  left: 8px;
  bottom: 43px;
  width: 156px;
  height: 152px;
  background: rgb(23 23 23 / 90%);
  padding: 0.8rem;
}

.label {
  font-weight: 500;
  color: var(--light-900);
}

.icon {
  width: 24px;
  height: 24px;
  stroke: var(--light-900);
}

.original {
  fill: var(--light-900);
}

.square {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

.vertical {
  width: 18px;
  height: 26px;
  margin-right: 2px;
}

.horizontal {
  width: 26px;
  height: 20px;
  margin-right: 2px;
}

.item {
  input {
    display: none;
  }

  label {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

    &:hover {
      .label {
        color: var(--light-100);
      }

      .icon {
        stroke: var(--light-100);
      }

      .original {
        fill: var(--light-100);
      }
    }
  }
}
