.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 492px;
}

.image {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input {
  display: none;
}

.hidden {
  display: none;
}

.btn {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 150px;
  right: 0;
  background: url('../../../../public/icons/PicIcon.svg') no-repeat center;
}

.back {
  width: 36px;
  height: 36px;
  background: url('../../../../public/icons/arrow-ios-back.svg') no-repeat center;
}

.thumblist {
  position: relative;
}

.thumbnails {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  margin-top: 1rem;
  overflow: hidden;
  width: calc((80px + 0.8rem) * 5);

  img {
    width: 80px;
    height: 80px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
  }
}

.add {
  position: absolute;
  top: 10px;
  right: 0;
  width: 36px;
  height: 36px;
  background: url('../../../../public/icons/plus-circle.svg') no-repeat center;
}
