.feedPosts {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 620px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loadMore {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 20px;
}

.noContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  font-size: 16px;
  color: var(--light-900);
}
