.wrapper {
  display: flex;
  width: 972px;
  gap: 2rem;
  padding: 0;
}

.image {
  max-width: 490px;
  min-width: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.info {
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  padding-right: 30px;
  margin-top: 1rem;
  width: 460px;
  min-width: 0;
  box-sizing: border-box;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
